.wrapper {
    padding: 0 calc((100% - 1440px) / 2);
    margin-top: auto;
}


/* header and footer */
header,
footer {
    background-color: var(--color-header-footer);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 120px;
}

.header-logo {
    height: 40px;
}

.nav-icon {
    height: 35px;
}

.footer-container {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 72px;
    height: 120px;
}

.footer-container span,
.footer-container a {
    font-family: var(--font-family-sub);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-regular);
    color: var(--color-link);

}

.footer-mobile-nav-bar {
    display: none;
}

/*hero section*/
.hero-image {
    background-image: url(assets/img/heroimg.png);
    background-position: bottom;
    background-size: cover;
    height: 400px;
}

.hero-logo {
    box-sizing: content-box;
    position: absolute;
    top: 400px;
    display: flex;
    justify-self: center;
    border: 12px solid var(--color-light);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
    height: 200px;
}

.hero-text {
    text-align: center;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 24px 60px;
    height: 300px;
}

.h1-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 32px;
}

.star-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hero-subtitle {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-sub);
}

/* dishes-section */
.dishes-and-basket-section {
    display: flex;
    justify-content: space-between;
}

.category-seperator {
    position: absolute;
    left: 0;
    background-color: var(--color-seperator);
    width: 100%;
    height: 60px;
    z-index: -1;
}

.h2-container {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 60px;
}

.burger-icon {
    margin-bottom: 24px;
}

.category-icon {
    margin-left: 160px;
    height: 90px;
}

#SectionBurger>.category-seperator {
    top: calc(120px + 400px + 300px);
}

#SectionPizza>.category-seperator {
    top: calc(120px + 400px + 300px + 60px + 770px);
}

#SectionSalad>.category-seperator {
    top: calc(120px + 400px + 300px + 60px + 770px + 60px + 770px);
}

.category-container {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 16px;
    height: 770px;
}

.dish-container {
    background-color: var(--color-dish-container);
    display: flex;
    margin: 0 120px;
    border-radius: 12px;
    padding: 12px;
    gap: 16px;
}

.dish-img {
    border-radius: 12px;
    height: 120px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.name-and-description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.price-and-add-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

h3.dish-card {
    font-family: var(--font-family-sub);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-120);
    font-style: normal;
}

.dish-description {
    font-family: var(--font-family-sub);
    font-size: var(--dish-font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-120);
    font-style: normal;
    padding-top: 15px;
}

.dish-price {
    font-family: var(--font-family-sub);
    font-size: var(--dish-price-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-120);
    font-style: var(--font-weight-semibold);
}

/* dialog-styling */

.confirmation-dialog {
    background-color: transparent;
    justify-self: center;
    align-self: center;
    border: none;
    overflow: hidden;
}

.confirmation-dialog::backdrop {
    background: rgb(0 0 0 / 25%);
}

.confirmation-overlay {
    background-color: var(--color-bg-basket);
    color: var(--color-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 32px;
    overflow: hidden;
}

.span-confirmation-dialog,
.span-confirmation-dialog font {
    color: white !important;
    font-family: var(--font-family-sub);
    font-size: var(--confirmation-span-size, 48px) !important;
    font-weight: var(--confirmation-span-weight, 700) !important;
    line-height: var(--line-height-120, 1.2) !important;
}



.p-confirmation-dialog {
    color: white;
    text-align: center;
    font-family: var(--font-family-sub);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-120);
}

.delivery-truck-icon {
    height: 120px;
    width: auto;
    margin-bottom: 20px;

    animation: driveOutToRight 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
}


@keyframes driveOutToRight {
    0% {
        transform: translateX(0);

        opacity: 1;
    }

    30% {
        transform: translateX(-10px);

    }

    100% {
        transform: translateX(200%);

        opacity: 0;

    }
}

@media screen and (max-width: 1440px) {
    .category-seperator {
        display: none;
    }

    .hero-text {
        height: auto;
    }

    .h2-container {
        background-color: var(--color-seperator);
        margin-right: -440px;
    }

    .category-icon {
        margin-left: 120px;
    }

    .category-container {
        padding-bottom: 80px;
        height: auto;
    }

    .dish-container {
        flex-direction: column;
        margin-left: 80px;
        margin-right: 40px;
    }

    .dish-img {
        height: 88px;
    }

    .price-and-add-container {
        flex-direction: row;
    }
}

@media screen and (max-width: 1279px) {
    main {
        margin-top: 80px;
    }

    .header-container,
    .footer-container {
        height: 80px;
    }

    .hero-logo {
        top: 360px;
    }

    .h2-container {
        margin-right: -400px;
    }

    .category-icon {
        margin-left: 80px;
    }

    .dish-container {
        margin-left: 50px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .h2-container {
        margin-right: -350px;
        gap: 24px;
    }

    .category-icon {
        margin-left: 60px;
    }

    .dish-container {
        margin-left: 40px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {

    .footer-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 60px;
        gap: 8px;
        height: 120px;
    }

    .header-container,
    .footer-mobile-nav-bar {
        padding: 0 24px;
    }

    .footer-mobile-nav-bar {
        position: fixed;
        bottom: 0;
        background-color: var(--color-bg-basket);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        z-index: 1;
    }

    .hero-image {
        border-radius: 16px;
        margin: 24px;
        height: 250px;
    }

    .hero-logo {
        top: 280px;
        height: 120px;
    }

    .hero-text {
        padding-top: 60px;
    }

    h1 {
        font-size: var(--font-size-40);
    }

    h2 {
        font-size: var(--font-size-32);
        padding-bottom: 8px;
    }

    .h2-container {
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 0;
        gap: 0;
    }

    .category-icon {
        margin-left: 0;
        height: 60px;
        margin-bottom: -23px;
    }

    .burger-icon {
        margin-bottom: -20px;
    }

    .dish-container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .span-confirmation-dialog {
        font-size: var(--font-size-40);
    }

    .p-confirmation-dialog {
        font-size: var(--font-size-24);
    }
}

@media screen and (max-width: 480px) {

    .header-container,
    .footer-nav-bar {
        padding: 0 16px;
    }

    .hero-image {
        margin: 16px;
    }

    .hero-logo {
        top: 270px;

    }

    .h1-container {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .dish-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}