/* Links */
a {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

/*Buttons&Hover*/

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.circle-amount-dishes {
    position: absolute;
    bottom: 32px;
    right: 24px;
    color: var(--color-seperator);
    background-color: var(--color-dish-basket);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.btn-add-to-basket {
    font-family: var(--font-family-sub);
    font-size: var(--dish-font-size-16);
    font-weight: var(--font-weight-medium);
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-button-border);
    border-radius: 20px;
    padding: 5px 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.btn-add-to-basket:hover {
    color: var(--color-header-footer);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
}

.btn-add-to-basket:active {
    transform: scale(0.98);
}

.btn-add-to-basket.btn-added-to-basket {
    color: var(--color-header-footer);
    font-size: var(--font-size-16);
    margin-left: auto;
}

.btn-minus-plus:hover {
    background-color: transparent;
    background: transparent;
    color: var(--color-button-hover);
    transform: scale(1.2);
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.basket>.btn-close {
    display: none;
}

.btn-delete-all {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete-one {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-svg {
    fill: var(--color-dish-basket);
    height: 16px;
}

.delete-svg {
    height: 24px;
    width: 24px;
    box-sizing: content-box;
    padding: 6px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.15s ease;
}

.btn-buy-now {
    color: rgba(251, 251, 251, 1);
    font-size: 32px;
    font-weight: 700;
    text-wrap: balance;
    background-color: var(--color-button-hover);
    border-radius: 60px;
    padding: 16px;
    width: 100%;
}


@media screen and (max-width: 1000px) {
    .btn-buy-now {
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    .basket {
        position: relative;
    }

    .btn-close,
    .basket>.btn-close {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .circle-amount-dishes {
        right: 16px;
    }
}